#tiles-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.tile {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Quicksand', sans-serif; /* Apply the Google Font */
    font-weight: 500; /* Make the font more bold */
}

.tile p, .tile input, .tile label, .tile select, .tile button {
    margin-bottom: 5px; /* Reduced spacing */
}

.tile select, .tile button {
    display: block; /* Each on their own line */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif; /* Apply the Google Font */
    font-weight: 500; /* Make the font more bold */
}

.tile input[type="checkbox"] {
    display: inline-block; /* Checkbox and label on the same line */
}


